.template-main {
    .container {
        margin: 0 auto;
        max-width: 1024px;
        position: relative;
    }

    header {
        border-top: 4px solid #323e4e;
        background-color: #bed4df;

        .container {
            padding: 50px 0;
            text-align: center;

            h1 {
                font-size: 70px;
                color: #fff;
                margin-bottom: 20px;
            }

            h2 {
                font-size: 18px;
                color: #0D3C53;
            }
        }
    }

    .body {
        padding: 50px 0;
    }

    footer {
        background-color: #323e4e;
        padding: 25px 0;
        color: rgba(255, 255, 255, .7);
        text-align: center;
    }
}